@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
.login-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: 0.7s;
  display: flex;
  justify-content: center;
}

.show-login-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: 0.7s;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.login-wrapper {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 30rem;
  padding: 1.5rem;
  margin: auto;
  text-align: center;
  align-items: center;
}
.login-wrapper #close-sign-up {
  position: absolute;
  right: 0;
  background: transparent;
  border-style: none;
  font-size: 1.5em;
  font-weight: lighter;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: white;
}
.login-wrapper .wrapper-text {
  font-size: 1.5em;
}
.login-wrapper .bold-login-text {
  font-size: 1.5em;
  font-weight: 900;
}
.login-wrapper .signInBtn {
  display: flex;
  justify-content: center;
  padding: 2vw;
}
.login-wrapper .signInBtn #submitBtn {
  text-decoration: none;
  background-color: white;
  border-radius: 50px;
  color: #2f2e6c;
  font-size: 1rem;
  font-weight: 600;
  width: 30%;
  text-align: center;
  padding: 0.5rem;
}
.login-wrapper .signInBtn #submitBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s ease-in-out 0s;
}

.form-container {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}
.form-container input {
  background-color: transparent;
  border-style: none;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid rgba(128, 128, 128, 0.534);
  height: 2vw;
  width: 30vw;
  padding: 10px;
  color: white;
}
.form-container input::placeholder {
  color: white;
}

body {
  background: url("/src/assets/01.png");
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: #888;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#account-options {
  background-color: white;
  border-bottom-right-radius: none;
  border-top-right-radius: none;
  width: 13rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #201f49;
  border-style: none;
  border-radius: 10px;
}
#account-options option {
  background-color: #201f49;
  color: white;
}
#account-options:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}
nav .navright a {
  padding: 0 50px;
}
nav .SignUp {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  border-style: none;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}
nav .SignUp:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s ease-in-out 0s;
}

a:hover, .downloadBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s ease-in-out 0s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid .left {
  margin: 7rem 5rem;
}
.grid .left .boldText {
  font-size: 3rem;
  font-weight: 900;
}
.grid .left .desc {
  color: #d6d6d6;
  font-size: 1rem;
  text-align: justify;
}
.grid .left .buttons button {
  border-radius: 50px;
  border-style: none;
  width: 120px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 40px;
}
.grid .left .buttons button.LogIn {
  background: #5eaaaf;
  background: linear-gradient(90deg, #5eaaaf 24%, #2f2e6c 63%);
  color: white;
}
.grid .left .buttons button.LogIn:hover {
  background: #2f2e6c;
  background: linear-gradient(90deg, #2f2e6c 24%, #5eaaaf 63%);
  transform: scale(1.1);
  transition: 0.5s ease-in-out 0s;
  cursor: pointer;
}
.grid .left .buttons button.downloadBtn {
  margin: 0 40px;
  background: transparent;
  color: white;
}
.grid .right {
  text-align: center;
}
.grid .right .cardsPhoto {
  width: 30rem;
  margin: 3rem auto;
}

.sign-up-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: 0.7s;
  display: flex;
  justify-content: center;
}

.show-sign-up-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: 0.7s;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60rem;
  height: 20rem;
  padding: 5vh;
  margin: 0 auto;
}
.form-wrapper .left-wrapper {
  background: url("/src/assets/01.png");
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.form-wrapper .left-wrapper .left-wrapper-text {
  font-size: 18px;
  margin: 20px 30px;
}
.form-wrapper .left-wrapper .left-wrapper-text .bold-left-text {
  font-size: 40px;
  font-weight: 900;
}
.form-wrapper .left-wrapper .modalIcon {
  width: 100%;
  margin: 0 50px;
}
.form-wrapper .right-wrapper {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(12px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}
.form-wrapper .right-wrapper #close-sign-up {
  position: absolute;
  right: 0;
  background: transparent;
  border-style: none;
  font-size: 20px;
  font-weight: lighter;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: white;
}
.form-wrapper .right-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  padding-top: 3rem;
  line-height: 3rem;
}
.form-wrapper .right-wrapper form .email-and-accountNumber-label, .form-wrapper .right-wrapper form .username-password-label, .form-wrapper .right-wrapper form .fullname-label {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}
.form-wrapper .right-wrapper form #confirm-password {
  width: 21rem;
}
.form-wrapper .right-wrapper form input {
  background-color: transparent;
  border-style: none;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid rgba(128, 128, 128, 0.534);
  height: 25px;
  width: 150px;
  padding: 10px;
  color: white;
}
.form-wrapper .right-wrapper form input::placeholder {
  color: white;
}
.form-wrapper .right-wrapper form #submitBtn {
  height: 50px;
  background: white;
  color: #2f2e6c;
  border-radius: 50px;
  border-style: none;
  font-size: 1rem;
  font-weight: 600;
}
.form-wrapper .right-wrapper form #submitBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s ease-in-out 0s;
}
.form-wrapper .right-wrapper .disclaimer {
  margin: 2rem 3.5rem;
}
.form-wrapper .password-info {
  color: white;
}

.darkMode {
  background: #222121;
  color: white;
  transition: all 0.4s ease-in-out;
}
.darkMode #add-account-form {
  background: linear-gradient(90deg, #252337 24%, #515760 63%);
}
.darkMode .user-info-wrapper {
  background: #25243a;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}
.darkMode #currency-options {
  background: #201f49;
  color: white;
}
.darkMode #accounts-table-wrapper {
  background: black;
}
.darkMode #withdraw-control-wrapper, .darkMode #deposit-control-wrapper, .darkMode #transfer-control-wrapper {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(66, 68, 94, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.chooseAccNum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-solid {
  font-size: 1.5em;
}

.admin-main-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

select {
  -webkit-appearance: none;
}

.greeting {
  margin: 0 3rem;
  font-size: 2.5rem;
}

.logo {
  width: 3rem;
}

.admin-wrapper {
  color: white;
  scroll-behavior: smooth;
}
.admin-wrapper .deleteBtn:hover {
  cursor: pointer;
}
.admin-wrapper .historyBtn {
  margin: 0 3rem;
  cursor: pointer;
}
.admin-wrapper #accounts-table-wrapper {
  z-index: 5;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(337deg, rgba(92, 107, 133, 0.651) 24%, #5e5983 63%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  min-width: 90vw;
  height: 40vh;
  overflow: auto;
  margin: 2rem;
  line-height: 3rem;
  scroll-behavior: smooth;
}
.admin-wrapper #accounts-table-wrapper::-webkit-scrollbar {
  width: 0.5rem;
}
.admin-wrapper #accounts-table-wrapper::-webkit-scrollbar-track {
  background: transparent;
}
.admin-wrapper #accounts-table-wrapper::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
.admin-wrapper #accounts-table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.admin-wrapper .account-table-data {
  display: grid;
  grid-template-columns: repeat(6, auto);
  text-align: center;
  color: white;
}
.admin-wrapper .account-table-data .account-table-account-no {
  text-align: left;
  margin-left: 0.4em;
}
.admin-wrapper .account-table-data .table-title {
  font-weight: 600;
}

#add-account-form {
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to left bottom, #6e7cc4c5, #9296cdb2, #b2b1d7a9, #cfcee1bb, #ebebebc2);
  border-radius: 10px;
  min-width: 70vw;
  margin: 2rem;
}
#add-account-form .add-user-title {
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0 0 0;
}
#add-account-form .user-name {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 1rem auto 0;
  text-align: center;
}
#add-account-form .user-name input {
  width: 90%;
  margin: 1rem auto 0 0;
  background-color: transparent;
  border-style: none;
  border-radius: 10px;
  background: white;
  height: 2.5rem;
  font-size: 1rem;
}
#add-account-form .add-account-acc-category, #add-account-form .add-account-acc-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: justify;
  margin: 0 auto;
  width: 50%;
}
#add-account-form .add-account-acc-category input, #add-account-form .add-account-acc-type input {
  margin: 1rem;
  color: #201f49;
  width: 1.15em;
  height: 1.15em;
  transform: translateY(0.1em);
}
#add-account-form .add-account-acc-category input:hover, #add-account-form .add-account-acc-type input:hover {
  cursor: pointer;
}
#add-account-form .add-account-triggers {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
#add-account-form .add-account-triggers button {
  text-decoration: none;
  background-color: white;
  border-radius: 50px;
  color: #2f2e6c;
  font-size: 1rem;
  font-weight: 600;
  width: 10rem;
  text-align: center;
  border-style: none;
  margin: 0 2rem;
  padding: 1rem;
}
#add-account-form .add-account-triggers button:hover {
  transition: 0.3s ease-in-out 0s;
  cursor: pointer;
  transform: scale(1.1);
  color: black;
}
#add-account-form label {
  font-weight: 600;
}

.initial-deposit {
  text-align: center;
}
.initial-deposit .currency-and-amount #currency-options {
  background-color: #201f49;
  border-bottom-right-radius: none;
  border-top-right-radius: none;
  width: 3rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: white;
  border-style: none;
}
.initial-deposit .currency-and-amount #currency-options option {
  background-color: #201f49;
}
.initial-deposit .currency-and-amount #currency-options:hover {
  cursor: pointer;
}
.initial-deposit .currency-and-amount #currency-options:focus {
  outline: none;
}
.initial-deposit .currency-and-amount input {
  margin: 2rem auto;
  background-color: transparent;
  border-style: none;
  border-bottom-left-radius: none;
  border-top-left-radius: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: white;
  height: 2.5rem;
  font-size: 1rem;
}

.admin-wrapper-bottom {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.admin-wrapper-bottom .withdraw-deposit, .admin-wrapper-bottom .transfer-control {
  display: flex;
  justify-content: space-evenly;
  margin: 2em 5em;
}
.admin-wrapper-bottom .withdraw-deposit-title {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 1.5em;
  justify-content: center;
}
.admin-wrapper-bottom .withdraw-control-wrapper {
  background-image: linear-gradient(to left bottom, #6e9ac4c5, #96adceb6, #b7c0d8, #d4d5e1d0, #ebebebc5);
  width: 25rem;
}
.admin-wrapper-bottom .deposit-control-wrapper {
  background-image: linear-gradient(to left bottom, #6e7cc4c5, #9296cdb2, #b2b1d7a9, #cfcee1bb, #ebebebc2);
  width: 25rem;
}
.admin-wrapper-bottom .transfer-control-wrapper {
  background-image: linear-gradient(to left bottom, #91b2dcbb, #acbce0bb, #c2c7e3c2, #d5d4e6, #e4e2ea);
  width: 45rem;
  display: flex;
  flex-direction: column;
}
.admin-wrapper-bottom .withdraw-control-wrapper, .admin-wrapper-bottom .deposit-control-wrapper, .admin-wrapper-bottom .transfer-control-wrapper {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  line-height: 4rem;
  text-align: center;
}
.admin-wrapper-bottom .withdraw-control-wrapper #currency-options, .admin-wrapper-bottom .deposit-control-wrapper #currency-options, .admin-wrapper-bottom .transfer-control-wrapper #currency-options {
  background-color: #201f49;
  width: 3rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: white;
}
.admin-wrapper-bottom .withdraw-control-wrapper #currency-options option, .admin-wrapper-bottom .deposit-control-wrapper #currency-options option, .admin-wrapper-bottom .transfer-control-wrapper #currency-options option {
  background-color: #201f49;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.admin-wrapper-bottom .withdraw-control-wrapper #currency-options:hover, .admin-wrapper-bottom .deposit-control-wrapper #currency-options:hover, .admin-wrapper-bottom .transfer-control-wrapper #currency-options:hover {
  cursor: pointer;
}
.admin-wrapper-bottom .withdraw-control-wrapper #currency-options:focus, .admin-wrapper-bottom .deposit-control-wrapper #currency-options:focus, .admin-wrapper-bottom .transfer-control-wrapper #currency-options:focus {
  outline: none;
}
.admin-wrapper-bottom .withdraw-control-wrapper input, .admin-wrapper-bottom .deposit-control-wrapper input, .admin-wrapper-bottom .transfer-control-wrapper input {
  background-color: white;
  border-style: none;
  width: 10rem;
  color: #201f49;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}
.admin-wrapper-bottom .transfer-triggers, .admin-wrapper-bottom .withdraw-triggers, .admin-wrapper-bottom .deposit-triggers {
  display: flex;
  justify-content: space-evenly;
}
.admin-wrapper-bottom button {
  text-decoration: none;
  background-color: white;
  border-radius: 50px;
  color: #2f2e6c;
  font-size: 1rem;
  font-weight: 600;
  border-style: none;
  width: 7rem;
  padding: 1rem;
  margin: 2rem 2rem;
}
.admin-wrapper-bottom button:hover {
  transition: 0.3s ease-in-out 0s;
  cursor: pointer;
  transform: scale(1.1);
  color: black;
}

.enter-acc-no.hide {
  display: none;
}

.enter-acc-no.hide {
  display: none;
}

.enter-acc-no.hide {
  display: none;
}

.transferOptions {
  display: flex;
  justify-content: space-evenly;
  max-width: 40rem;
  margin: 0 auto;
  padding: 10px 0;
}

.mode-and-log-out {
  display: flex;
  margin: 0 1rem 0 0;
}
.mode-and-log-out #log-out {
  color: white;
  margin: 0.8rem 0 0 0;
}

.darkModeLabel {
  width: 6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 1rem 0 0;
  user-select: none;
}
.darkModeLabel::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 30px;
  background: rgba(255, 255, 255, 0.527);
  border-radius: 50px;
}
.darkModeLabel input {
  position: absolute;
  appearance: none;
}
.darkModeLabel input:checked ~ .switchIcon {
  left: 60px;
}
.darkModeLabel input:checked ~ .switchIcon .icon-container {
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
}
.darkModeLabel .switchIcon {
  position: absolute;
  left: 0;
  width: 40px;
  height: 80%;
  transition: 0.4s ease-in-out;
}
.darkModeLabel .switchIcon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  filter: blur(1px);
  z-index: 1;
}
.darkModeLabel .switchIcon::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 10px;
  height: 100%;
  filter: blur(1px);
}

.icon-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, white);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1), 20px 20px 15px rgba(0, 0, 0, 0.1), 30px 30px 15px rgba(0, 0, 0, 0.1), inset 1px 1px 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.icon-container i {
  color: black;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.section-two {
  margin: 5rem 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section-two .left-grid .desc {
  overflow-wrap: break-word;
  max-width: 30rem;
  color: #e9e9e9;
}
.section-two .left-grid h1 {
  font-size: 2.5rem;
}
.section-two .right-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}
.section-two .right-grid .icon-desc {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.welcomeScreenSectionThree {
  padding: 2rem 10rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr;
}
.welcomeScreenSectionThree img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: black;
  background-color: white;
}
.footer .newsletter {
  border-style: none;
  border: 2px solid black;
  padding: 1rem;
}
.footer .newsletter::placeholder {
  color: black;
}
.footer header p {
  padding: 50px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
}
.footer .l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer h2 {
  font-weight: 400;
  font-size: 15px;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li {
  line-height: 2em;
}
.footer a {
  text-decoration: none;
}
.footer .r-footer {
  display: flex;
  flex-flow: row wrap;
}
.footer .box a {
  color: #999;
}
.footer .box a:hover {
  color: #2f2e6c;
}
.footer .h-box {
  column-count: 2;
  column-gap: 1.25em;
}
.footer .b-footer {
  text-align: center;
  color: #999;
  padding-top: 50px;
}
.footer .l-footer p {
  padding-right: 20%;
  color: black;
}

@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }

  .features {
    flex-grow: 2;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.alert-modal-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: 0.7s;
  display: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.alert-modal-wrapper.show {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.alert-modal-wrapper .history-modal-container {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50rem;
  margin: auto;
  padding: 2rem 0.5rem;
  position: relative;
  animation: zoomIn 0.7s;
  overflow: auto;
  height: 50vh;
}
.alert-modal-wrapper .history-modal-container::-webkit-scrollbar {
  width: 0.5rem;
}
.alert-modal-wrapper .history-modal-container::-webkit-scrollbar-track {
  background: transparent;
}
.alert-modal-wrapper .history-modal-container::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
.alert-modal-wrapper .history-modal-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.alert-modal-wrapper .alert-modal-container {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 20rem;
  margin: auto;
  padding: 2rem 0.5rem;
  position: relative;
  animation: zoomIn 0.7s;
}
.alert-modal-wrapper .close-alert-container {
  position: absolute;
  right: 0;
  background: transparent;
  border-style: none;
  font-size: 1.5em;
  font-weight: lighter;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  color: white;
}
.alert-modal-wrapper .modal-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 4rem;
}
.alert-modal-wrapper .boldAlert {
  font-weight: 900;
  font-size: 2.5em;
}

@keyframes fromTop {
  0% {
    transform: translateY(-800px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.user-wrapper {
  display: flex;
  flex-direction: column;
}
.user-wrapper .welcome-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #201f49;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.user-wrapper .welcome-modal.hide {
  display: none;
}
.user-wrapper .welcome-modal .welcome-container {
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 22rem;
  margin: auto;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.1), 20px 20px 15px rgba(0, 0, 0, 0.1), 30px 30px 20px rgba(0, 0, 0, 0.1), 40px 40px 20px rgba(0, 0, 0, 0.1), inset 1px 1px 2px white;
  animation: fromTop 1s ease-in-out;
  color: black;
}
.user-wrapper .welcome-modal .welcome-container .welcome-modal-icon {
  font-size: 5rem;
}
.user-wrapper .welcome-modal .welcome-container h1 {
  font-size: 2rem;
}
.user-wrapper .welcome-modal .welcome-container .short-desc {
  color: gray;
}
.user-wrapper .welcome-modal .welcome-container button {
  width: 10rem;
  border-radius: 30px;
  border-style: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem auto;
  background: #201f49;
  color: white;
}
.user-wrapper .welcome-modal .welcome-container button:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out 0s;
}
.user-wrapper .dashboard-title {
  text-align: left;
  font-size: 2rem;
  font-weight: 900;
  margin: 2rem;
}
.user-wrapper .user-screen-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
}
.user-wrapper .user-screen-grid .grid-two .curr-balance {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(66, 68, 94, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  width: 20rem;
  margin: 2rem;
}
.user-wrapper .user-screen-grid .grid-two .curr-balance .balance-title {
  text-align: left;
  font-weight: 600;
}
.user-wrapper .user-screen-grid .grid-two .curr-balance .budget-title {
  text-align: left;
  font-weight: 900;
  font-size: 2rem;
}
.user-wrapper .user-screen-grid .grid-two .curr-balance .balance-val {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: left;
  border-bottom: 1px solid white;
}
.user-wrapper .user-screen-grid .grid-two .curr-balance .curr-status {
  color: rgba(255, 255, 255, 0.541);
}
.user-wrapper .user-screen-grid .grid-two .curr-balance .curr-status, .user-wrapper .user-screen-grid .grid-two .curr-balance .curr-status-val {
  display: flex;
  justify-content: space-around;
  line-height: 1rem;
}

.user-info-wrapper {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(66, 68, 94, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  padding: 1rem;
  width: 18rem;
  margin: 2rem;
}
.user-info-wrapper h1 {
  font-size: 1.5rem;
}
.user-info-wrapper .accNum-accCategory {
  display: flex;
  justify-content: space-evenly;
}

.withdraw-deposit, .transfer-control {
  display: flex;
  justify-content: space-around;
  text-align: center;
  line-height: 2.5rem;
  width: 100%;
  padding-bottom: 3rem;
}
.withdraw-deposit #transfer-to, .transfer-control #transfer-to {
  width: 13rem;
}
.withdraw-deposit #transfer-to::placeholder, .transfer-control #transfer-to::placeholder {
  color: rgba(255, 255, 255, 0.664);
}
.withdraw-deposit button, .transfer-control button {
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  color: #2f2e6c;
  font-size: 1rem;
  font-weight: 600;
  width: 6rem;
  text-align: center;
  border-style: none;
  margin: 1rem 1rem;
  padding: 0.5rem;
}
.withdraw-deposit button:hover, .transfer-control button:hover {
  transition: 0.3s ease-in-out 0s;
  cursor: pointer;
  transform: scale(1.1);
  color: black;
}
.withdraw-deposit input, .transfer-control input {
  background: transparent;
  border: 1px solid white;
  width: 10rem;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.6rem;
  font-size: 1rem;
}
.withdraw-deposit #currency-options, .transfer-control #currency-options {
  background-color: white;
  width: 3rem;
  height: 2.4rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: black;
  border-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.withdraw-deposit #currency-options option, .transfer-control #currency-options option {
  background-color: #201f49;
  color: white;
}
.withdraw-deposit #currency-options:hover, .transfer-control #currency-options:hover {
  cursor: pointer;
}
.withdraw-deposit #currency-options:focus, .transfer-control #currency-options:focus {
  outline: none;
}
.withdraw-deposit .withdraw-deposit-title, .withdraw-deposit .transfer-deposit-title, .withdraw-deposit .deposit-deposit-title, .transfer-control .withdraw-deposit-title, .transfer-control .transfer-deposit-title, .transfer-control .deposit-deposit-title {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0 0 0;
}
