@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  } 100% {
    opacity: 1;
    transform: scale(1);
  }
}

.alert-modal-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: 0.7s;
  display: none;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  opacity: 1;

  &.show {
    display: flex;
  }

  .history-modal-container{
    background: rgba( 255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 50rem;
    margin: auto;
    padding: 2rem 0.5rem;
    position: relative;
    animation: zoomIn 0.7s;
    overflow: auto;
    height: 50vh;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent; 
    }
  
    &::-webkit-scrollbar-thumb {
      background: rgb(255, 255, 255); 
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
  }

  .alert-modal-container {
    background: rgba( 255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 20rem;
    margin: auto;
    padding: 2rem 0.5rem;
    position: relative;
    animation: zoomIn 0.7s;
  }

  .close-alert-container {
    position: absolute;
    right: 0;
    background: transparent;
    border-style: none;
    font-size: 1.5em;
    font-weight: lighter;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    color: white;
  }

  .modal-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 4rem;
  }

  .boldAlert {
    font-weight: 900;
    font-size: 2.5em;
  }
}
