.enter-acc-no {
  &.hide { //for hiding enter account number if user view
    display: none;
  }
}

.transferOptions {
  display: flex;
  justify-content: space-evenly;
  max-width: 40rem;
  margin: 0 auto;
  padding: 10px 0;
}