.user-wrapper {
  display: flex;
  flex-direction: column;

  .dashboard-title {
    text-align: left;
    font-size: 2rem;
    font-weight: 900;
    margin: 2rem;
  }

  .user-screen-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;

    .withdraw-deposit-title, .transfer-deposit-title, .deposit-deposit-title {
      font-weight: 900;
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem 0 0 0;
    }

    button {
      text-decoration: none;
      background-color: white;
      border-radius: 10px;
      color: rgb(47,46,108);
      font-size: 1rem;
      font-weight: 600;
      width: 6rem;
      text-align: center;
      border-style: none;
      margin: 1rem 1rem;
      padding: 0.5rem;

    &:hover {
      transition: .3s ease-in-out 0s;
      cursor: pointer;
      transform: scale(1.1);
      color: black;
      }
    }

    input {
      background: transparent;
      border: 1px solid white;
      width: 10rem;
      color: white;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      padding: 0.6rem;
      font-size: 1rem;
    }

    #currency-options {
      background-color: white;
      width: 3rem;
      height: 2.4rem;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
      color: black;
      border-style: none;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    
      option {
        background-color: rgb(32, 31, 73);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        color: white;
      }
      
      &:hover {
        cursor: pointer;
      }
    
      &:focus {
        outline: none;
      }
    }

    .grid-one {
      .transfer-control-wrapper {
        width: 20rem;
        margin: 2rem;
        background: rgba( 255, 255, 255, 0.1 );
        box-shadow: 0 8px 32px 0 rgba(66, 68, 94, 0.37);
        backdrop-filter: blur( 2.5px );
        -webkit-backdrop-filter: blur( 2.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        line-height: 3rem;
      }

      #transfer-to {
        width: 13rem;

        &::placeholder {
           color: rgba(255, 255, 255, 0.664);
        }
      }

      .balance-title {
        text-align: left;
      }

      .balance-val {
        font-size: 1.5rem;
        font-weight: 900;
        text-align: left;
        border-bottom: 1px solid white;
      }

      .curr-balance {
        background: rgba( 255, 255, 255, 0.1 );
        box-shadow: 0 8px 32px 0 rgba(66, 68, 94, 0.37);
        backdrop-filter: blur( 2.5px );
        -webkit-backdrop-filter: blur( 2.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 1rem;
        width: 18rem;
        margin: 2rem;

        .curr-status {
          color: rgba(255, 255, 255, 0.541);
        }

        .curr-status, .curr-status-val {
          display: flex;
          justify-content: space-around;
          line-height: 1rem;
        }
      }
    }

    .grid-two {
      .withdraw-deposit {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

.user-info-wrapper {
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba(66, 68, 94, 0.37);
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: white;
  padding: 1rem;
  width: 18rem;
  margin: 2rem;

  h1 {
    font-size: 1.5rem;
  }

  .accNum-accCategory {
    display: flex;
    justify-content: space-evenly;
  }
}